body {
  background-image: url('https://images.unsplash.com/photo-1504376830547-506dedfe1fe9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  font-family: Helvetica, sans-serif;
  color: white;
}

.color-white {
  color: white;
}

.color-lime {
  color: rgb(0, 255, 42);
}

.invert {
  background-color: white;
  color: black;
}

.filter-hover {
  border-bottom: solid 4px black;
}

.filter-hover:hover {
  border-bottom: solid 4px white;
  cursor: pointer;
}

h2 {
  width: 100%;
  border-bottom: 4px solid rgb(0, 255, 42);
  line-height: 0.1em;
  margin: 10px 0 20px;
  align-items: center;
}

h2 span {
  background: black;
  padding: 0 1em;
  cursor: pointer;
}

h2 span:hover {
  background-color: rgb(0, 255, 42);
  padding: 0;
  color: black;
}